/* Forum */

body {
    margin: 10px 60px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 20px;
    background-color: #1d651e;

}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: 1d651e;
    padding: 0 40px;
}
.main {
    background-color: #c0d8a8;
    padding: 10px 15px;
}
.button {
    transition-duration: 0.4s;
    background-color: #FFFFFF; /* Green */
    border: none;
    color: #1d651e;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #1d651e;

  }
  
  .button:hover {
    background-color: #1d651e; /* Green */
    color: white;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #1d651e;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
.row {
    padding: 5px 0;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}

/* General */
body {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 20px;
    
}
* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create 3 equal columns */
.column {
  flex: 33.33%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 100%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* Top Navigation */
.topnav {
    overflow: hidden;
    background-color: #1d651e;
    font-family: "Arial", Helvetica, sans-serif;
    padding-left: 36%;
    padding-bottom: 20px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
}

.topnav a:hover {
    background-color: #c0d8a8;
    color: #1d651e;
    transition: 0.5s;

}

.topnav a.active {
    background-color: white;
    color: #1d651e;
}

/* Brand CEITE */
.brand {
    overflow: hidden;
    text-align: center;
    background-color: #1d651e;
}

.logo {
    padding-left: 0px;
    width: 100%;
    height: 100%;
}

h1 {
  text-align: center;
  background-color: #1d651e;
  color: #FFFFFF;
  padding-bottom: 40px;
  margin: 0%;
}
h2 {
  text-align: center;
  background-color: #1d651e;
  color: #FFFFFF;
  padding: 40px;
  margin: 0%;
}



.botnav {
  overflow: hidden;
  background-color: #1d651e;
}

.botnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.botnav a:hover {
  background-color: #ddd;
  color: black;
}

.botnav a.active {
  background-color: #1d651e;
  color: #1d651e;
}

.botnav input[type=text] {
  float: left;
  padding-left: 6px;
  border: 8;
  margin-top: 20px;
  margin-right: 16px;
  margin-left: 8px;
  margin-bottom: 20px;
  font-size: 17px;
}

  .botnav a, .botnav input[type=text] {
    float: none;
    display: inherit;
    text-align: center;
    width: 25%;
    margin-left: 36.5%;
    padding: 14px;
  }
  .botnav input[type=text] {
    border: 5px solid #1d651e;
  }

.footer {
    font-family: "Arial", Helvetica, sans-serif;
    color: #FFFFFF;
    border-color: #4c4754;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    background-color: #1d651e;
    font-weight: bold;
        }
    
