header{
  font: 2em sans-serif;
  padding: 2rem;
}

/* Style the label for each form element */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* Style the text input fields */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    display: block;
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

  }
  button:hover[type="submit"]{
    background: #4CAF50;
    opacity: 1;

  }
  
  
  
  /* Style the form element when it is focused */
  input:focus {
    outline: none;
    border: 1px solid #4CAF50;
  }
  
  /* Style the form element when there is an error */
  input:invalid {
    border-color: #ff0026;
  }
  
  /* Style the checkbox for translation option */
  input[type="checkbox"] {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
  
  /* Style the label for the translation option */
  label[for="translate"] {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    vertical-align: middle;
  }
  
  /* Style the error message */
  .error-message {
    color: #ff0026;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }